.head-men{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: greenyellow;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main-header-ul{
    list-style: none;
    display: flex;
}

.header-item{
    position: relative;
    margin-right: 50px;
}

.header-part{
    display: block;
    padding: 15px 20px;
    background-color: rgb(182, 214, 95);
    color: rgb(98, 38, 122);
    text-decoration: none;
}

.unlooked{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #b95b36;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 150px;
}

.header-item:hover .unlooked {
    display: block;
}

.mussolini {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    overflow: hidden;
    border: 5px solid #000000;
}

.mussolini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(-100%);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.mussolini:hover .overlay {
    transform: translateX(0);
}

.mussolini-div{
    display: flex;
    margin-top: 200px;
}

#looses{
    background-color: #662f19;
}

#wins{
    background-color: aquamarine;
}

.happy{
    width: 200px;
    height: 150px;
}

.scroll{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(255, 0, 157);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}